body {
  font-family: "Helvetica", sans-serif;
  background-color: rgb(79, 67, 67);
  color: white
}

.content-item {
  background-color: rgb(99, 87, 87);
}

.tabbo {
  color: white
}

.tabbo:hover{
  color: rgb(180, 180, 180)
}

footer, header {
  background-color: rgb(99, 87, 87);
}

header h1 {
  font-family: "Futura", serif;
}

ul {
  list-style-type: none;
}

.modal-body {
  background-color: rgb(99, 87, 87);
}

.modal-header, .modal-footer {
  background-color: rgb(79, 67, 67);
}